/*General*/

:root{
  --green_button_color:hsl(171, 66%, 44%);
  --green_dark_button_color:hsl(171, 67%, 37%);
  --purble_button_color:hsl(233, 100%, 69%);
  --purble_dark_button_color:hsl(233, 65%, 59%);
  --dark_heading_color:hsl(210, 10%, 33%);
  --grey_paragraph_color:hsl(201, 11%, 66%);
}

html{
  font-size: 18px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  background: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

h1{
  color: var(--dark_heading_color);
  margin-bottom: 20px;
  margin-top: 40px;
}

h2{
  color: var(--dark_heading_color);
  margin: 20px 0;
}

p{
  color: var(--grey_paragraph_color);
}

button{
  border-radius: 20px;
  padding: 1em;
  width: 80%;
  margin: 5px auto;
  font-size: 1rem;
}

img{
  max-width: 100%;
}

.container{
  width: 95%;
  margin: 50px auto;
}

i{
  color: var(--dark_heading_color);
}

.attribution{
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.2)
}

.attribution a{
  color: rgba(0, 0, 0, 0.2)
}

footer{
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

svg{
  margin: 10px;
}

/*General*/




/* Custom General */

.flex-space{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-p-center{
  text-align: center;
  width: 100%;
  margin: 5px auto;
}

.h-p-left{
  text-align: center;
  width: 100%;
}

.buttons-div{
  width: 100%;
  margin: 20px auto 70px auto;
}

.img-div{
  margin: 40px auto;
  text-align: center;
}

.m-b5{
  margin-bottom: 50px;
}

.m-b10{
  margin-bottom: 100px;
}

.m-b15{
  margin-bottom: 150px;
}

/* Custom General */




/* Custom Specific */

#vendors{
  text-align: center;
  margin: 150px auto 100px auto;
}

#vendors img{
  margin: 20px;
}

#features{
  text-align: center;
  margin: 40px auto;
}

#features div{
  margin: 10px auto;
}

.computer-features-div{
  margin: 150px auto;
}

.computer-features-div > div:last-child > div{
  margin-bottom: 40px;
}

.utilities{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

footer > div:first-child{
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

footer > div:first-child img{
  max-width: 20%;
}

footer > div:nth-child(2){
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

footer > div:nth-child(3){
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.ios-butt{
  color: white;
  background-color: var(--purble_button_color);
  border: 0;
  box-shadow: 0 3px 0 0 var(--purble_dark_button_color), 1px 3px 5px 1px rgb(102, 102, 102);
}

.mac-butt{
  color: white;
  background-color: var(--green_button_color);
  border: 0;
  box-shadow: 0 3px 0 0 var(--green_dark_button_color), 1px 3px 5px 1px rgb(102, 102, 102);
}

button:hover{
  box-shadow: 0 0 0 0 white;
  filter: contrast(200%);
  cursor: pointer;
}

li:hover{
  color: white;
  cursor: pointer;
}

a:hover{
  color: white;
  cursor: pointer;
}

/* Custom Specific */




/* Queries */

@media screen and (min-width: 1024px) {
  button{
    width: 48%;
    margin: 0;
    font-size: none;
  }

  .container{
    width: 95%;
  }

  .flex-space{
    flex-direction: row;
  }
  
  .h-p-center{
    text-align: center;
    width: 60%;
  }
  
  .h-p-left{
    text-align: left;
    width: 40%;
  }
  
  .buttons-div{
    width: 90%;
  }

  .computer-features-div{
    display: flex;
  }

  #features{
    width: 100%;
  }

  #features > div{
    width: 28%;
    line-height: 1.5em;
  }

  .computer-features-div{
    display: flex;
    justify-content: space-between;
  }

  .computer-features-div > div:last-child{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .computer-features-div > div:last-child > div{
    width: 100%;
  }

  .computer-features-div > div:first-child{
    position: relative;
    right: 150px;
  }

  .utilities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  footer{
    flex-direction: row;
  }
  
  footer > div:first-child{
    width: 20%;
    margin: 0;
  }
  
  footer > div:first-child img{
    max-width: 20%;
  }
  
  footer > div:nth-child(2){
    width: 40%;
    margin: 0;
  }
  
  footer > div:nth-child(3){
    width: 10%;
  }
}

@media screen and (min-width: 1400px) {
  .buttons-div{
    width: 60%;
  }
}